@font-face {
    font-family: font;
    src: url(font.otf);
}

html, body {
	font-family: font;
}

.container {
	margin-top: 25px;
}

#logo {
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}

#logo h1 {
	text-transform: uppercase;
	float: left;
	height: 80px;
	line-height: 80px;
	font-size: 37px;
}

#logo img {
	float: left;
	line-height: normal;
}

.navbar-default {
	text-transform: uppercase;
}

.navbar > .container-fluid .navbar-brand {
	padding: 7px;
}

 li.active {
	background-color: red;
}

h2 {
	font-size: 23px;
	padding-bottom: 10px;
}

form {
	margin-bottom: 10px;
}

.bg-danger, .bg-success {
	padding: 10px;
}

#top {
	margin-top: 5px;
	text-align: center;
}

h4 {
	font-weight: bold;
}

.thumbnail {
	float: left;
}